@model OrderAllGetModel

@{
    ViewBag.Title = "My Orders";
}

@section Styles {
    <link rel="stylesheet" href="~/css/myOrders.css" asp-append-version="true" />
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="OrderStatus"></label>
                <select asp-for="OrderStatus" class="form-control">
                    <option value="">All</option>
                    @foreach (var status in Model.OrderStatuses)
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">Lowest price first</option>
                    <option value="3">Highest price first</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalOrdersCount /
        Model.OrdersPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Order"
           asp-action="MyOrders"
           asp-route-currentPage="@previousPage"
           asp-route-orderStatus="@Model.OrderStatus"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Orders.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Order"
           asp-action="MyOrders"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-orderStatus="@Model.OrderStatus"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Orders.Any())
{
    <h2 class="text-center">No orders found by the given criteria!</h2>
}

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><label>Order Number</label></th>
                <th><label>Order Date</label></th>
                <th><label>Order Items</label></th>
                <th><label>Total Amount</label></th>
                <th><label>Order Status</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <partial name="_OrderPartial" model="@order" />
            }
        </tbody>
    </table>
</div>